<div class="card card--face-down" >
                        <div class="gambi gambiright">
                        </div>
                        <div class="gambi gambileft">
                        </div>
                        <div class="level corner"><span class="level-caption"></span></div>
                        
                        <div class="cardid corner"><span class="level-caption"></span></div>
                        
                        <div class="border">
                            
                            <div class="header">
                                <span></span>
                            </div>
                    
                            <div class="card__numbers">
                                    <span></span>
                                    <span></span>
                                    <span></span>
                                    <span></span>
                            </div>
                    
                            <div class="card-image">
                                    
                            </div>
                    
                            <div class="footer">
                                <span></span>
                            </div>
                    
                        </div>
                    </div>