
 <link rel="stylesheet" type="text/css" href="./css/card.css">

<ul class="cards">
    {{#each formData.user_cards}}
        <li>
            
                {{> SingleCard user_card=this _settings=../_settings}}
            
        </li>

    {{/each}}
</ul>