 
.card-deck--ffviii .card__header,
.deck--ffviii .deck__title {
    background-color: #2E4271;
}

.deck--ffviii .deck__data {
    border-bottom-color: #2E4271;
}

.card-deck--ffviii span.card__level__value {
    color: #2E4271;
    border-color: #2E4271;
}


