@font-face{
    font-family: 'Poppins Regular';
    src: url('../fonts/Poppins-Regular.woff');
}

@font-face{
    font-family: 'Poppins Thin';
    src: url('../fonts/Poppins-Thin.woff');
}



body {
    background:#f0f0f0;
    font-family: 'Poppins-Regular', 'Poppins-Thin', Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    background-color: white;
    padding: 4px;
    margin-bottom: 8px;
    vertical-align: middle;
    height: 74px;;
    position: fixed;
}
header span.version {
    font-size: 0.6em;
    vertical-align: bottom;
}



.img-profile {
    width: 40px;
    margin-top: -10px;
    margin-right: -10px;
    border-radius: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    height: 28px;
    background-color: white;
    width: 100%;
    padding: 4px;
    margin-top: 8px;
    position: fixed;
}


footer img.dev {
    float: right;
}

.content {
    overflow-y: auto;
    max-height: 100%;
    position: absolute;
    top: 74px;
    bottom: 24px;
    left: 0;
    right: 0;
}


.profile-menu {
    top:10px;
    right: 10px;
    position:absolute;
}
.nav>li>a:hover, .nav>li>a:focus, .nav .open>a, .nav .open>a:hover, .nav .open>a:focus {
    background:#fff;
}
.dropdown {
    background:#fff;
    border:1px solid #ccc;
    border-radius:4px;
    width:300px;    
}
.dropdown-menu>li>a {
    color:#428bca;
}
.dropdown ul.dropdown-menu {
    border-radius:4px;
    box-shadow:none;
    margin-top:20px;
    width:300px;
}
.dropdown ul.dropdown-menu:before {
    content: "";
    border-bottom: 10px solid #fff;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    top: -10px;
    right: 16px;
    z-index: 10;
}
.dropdown ul.dropdown-menu:after {
    content: "";
    border-bottom: 12px solid #ccc;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    position: absolute;
    top: -12px;
    right: 14px;
    z-index: 9;
}


.center-box {
    margin: 0 auto;
    max-width: 600px;
    
}
.register-profile {
    padding: 16px;

    background: #fff;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    margin-bottom: 20px;

}



h2 {
    font-weight:400;
    letter-spacing:.5px;
    text-transform:none;
    color:#000;
}
legend {
    font-weight:400;
    text-transform:none;
    color:#636363;
}

.game-main-menu li {
    border: 1px solid #428bca;
    border-radius: 4px;
    background-color: transparent;
}

.game-main-menu li a:hover {
    background-color: #f0f8ff9e;
}


.new-cards {
    text-align: center;
}

.new-cards > ul {
    list-style: none;
    padding: 0;
}

.new-cards > ul > li {
    display: inline-block;
}


.modal-dialog{
    max-width: 80%;
    min-width: 600px;
    width: auto;
}

ul.cards {
    list-style: none;
    padding: 0;
}

ul.cards > li {
    display: inline-block;
}