.content {
    font-family: 'Poppins Regular', Arial, Helvetica, sans-serif;
    
}

.tutorial__header {
    padding: 8px 20px;
}

p.tutorial-start {
    font-weight: bold;
    margin:  0;
    font-size: 1.2em;
}

ul.decks {
    list-style: none;
    padding: 0;
    padding-top: 12px;
}

ul.decks > li {
    margin-bottom: 12px;
}

ul.decks .deck__data {
    padding: 8px 2px;
}

.deck__title {
    padding: 4px 24px 4px 4px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}


.card.toggled {
    outline: 2px solid blue;
    top: -4px;
}

.card-counter {
    font-size: 0.8em;
    font-style: italic;
    margin-left: 12px;
}

.user-may-start  {
    padding: 8px 20px;
}

ul.cards {
    max-height: 230px;
    overflow-y: auto;
    padding-top: 4px;
}


.hand-trail {
    overflow: hidden;
  }
  
  .fa-hand-point-left {
    position: absolute;
    left: 0;
    display: block;
   
    x-transition: all 1s ease-in-out;
    animation: ani 1s infinite;
  }
  
  
  @keyframes ani {
    0% {
      left: 0;
    }
    50% {
      left: 8px;
    }
    100% {
      left: 0;
    }
  }
  